.todoItem{
    background-color: white;
    display: flex;
    gap: 10px;
    margin: 0 0 6%;
    width: 18rem;
    border-radius: 5px;
    height: 2.5rem;
    align-items: center;
    box-shadow: 2px 3px 34px -7px rgba(109, 109, 109, 0.473);
}

.circle{
    position: relative;
    margin-left: 4%;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-image: linear-gradient( to bottom, rgb(105 65 128) 0%, rgb(72 187 235) 100%);
}

.circle::before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    top: 4px;
    left: 4px;
}

.TodoItem-ready{
    color: #9e9c98;
    background-color: #f0ece6;
    text-decoration:line-through;
}


.TodoItem-checket::before{
    color: white;
    content: '✓';
    background-color: rgb(148 207 208);
}

.eliminateItem::before{
    content: 'x';
}

.eliminateItem:hover{
    color: red;
}

.pointer{cursor:pointer;}